html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.chanceBtnContainer{
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  font-size: 60px;
  text-align: center;
  display: inline-block;
}

.chanceBtn{
  font-size: 4.5rem;
  text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);
  border: none;
  background-color: transparent;
}

.chanceBtn:hover{
  font-size:4.2rem;
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
  cursor: pointer;
}

.about-header{
  display: flex;

  /*this centers the text horizontally*/
  justify-content: center;

  /*this centers the text vertically*/
  align-items: center;

  height: 100vh;
  padding: 15%;

  text-align: center;

  font-size: 1.5rem;
}